{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 ">
      <img src="{% static '/img/inno.jpg' %}" class="img-fluid" />
    </div>
    <div class="col-sm-6 col-sm-push-6">
      <h2>Biography</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio animi
        voluptate eos. Aut reprehenderit eum vitae labore aliquid saepe fugit
        quia perspiciatis voluptates inventore ipsam beatae voluptatum, est, sit
        numquam?
      </p>
    </div>
  </div>
</div>

{% endblock %}
