{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
    <div class="container mt-5" style="height:200px;">
        {% for x in object_list %}
        <div >
            <a href="{% url 'postdetail' x.slug %}">
            <p title="view">{{x.title }} &rarr;</p>
            </a>
        
        {% empty %}
            <p> Your search does not match any post  in the system! </p>
            <a href="{% url 'blog' %}">Search again&rarr;</a>
         </div>
        {% endfor %}
 </div>
{% endblock %}